*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.log-in p{
    margin: 5px;
}

.log-in input{
    padding: 5px;
    margin-top: 10px;
    transition: padding 0.3s;
}

.log-in input:focus{
    padding: 3px;
    transition: padding 0.3s;
}

.btn-log-in{
    text-align: center;
    padding: 5px;
    margin: 20px;
    background-color: rgb(47, 47, 47);
    border-radius: 9px;
    transition: all 0.3s;
}

.btn-log-in a{
    text-decoration: none;
    color: white;
    outline: none;
}

.btn-log-in:hover{
    background-color: rgb(84, 84, 84);
    transform: scale(110%);
    
}